.home {
  width: 100%;
  flex-direction: column;
}

.home__heading {
  text-align: center;
}

.home__break {
  display: none;
}

@media (max-width: 768px) {
  .home__break {
    display: block;
  }
}

.home__highlight {
  text-align: center;
}

.home__description {
  text-align: center;
  /* mt-5 */
  margin-top: 20px;
  /* text-lg */
  font-size: 18px;
  /* text-gray-600 */
  color: #4b5563;
  /* max-w-2xl */
  max-width: 672px;
}